<div class="demo-section k-content wide">
    <div><a href="\#" data-bind="click: addClick">Add Purchase</a></div>
    <div id="listView" data-click="goToView2"></div>
    <div id="pager" class="k-pager-wrap"></div>
    <div class="row">
        <div class="col-md-4"><h6>No. of Transactions - </h6><span id="numTrans" data-bind="text: numTransactions"></span></div>
        <div class="col-md-4"><h6>Total amount - </h6><span data-bind="text: totalAmountValue"></span></div>
        <div class="col-md-4"><h6>Avg amount - </h6><span data-bind="text: averageAmountValue"></span></div>
    </div>
</div>